 <div class="col-md-2 nopadding">
  <ul class="list-group">
    <li routerLinkActive="true" [routerLinkActiveOptions]="{exact:true}"><a  class="list-group-item" style="cursor : pointer"  routerLink="/">Dashboard</a></li>
    <li routerLinkActive="true"><a class="list-group-item" style="cursor : pointer"  routerLink="/delayed">Delayed Invocies</a></li>
    <li routerLinkActive="true"><a class="list-group-item" style="cursor : pointer"  routerLink="/watingForConfirm">Waiting for confirmation</a></li>
    <li routerLinkActive="true"><a class="list-group-item" style="cursor : pointer"  routerLink="/suspened">Suspended Invoices</a></li>
    <li routerLinkActive="true"><a class="list-group-item" style="cursor : pointer"  routerLink="/issued">Issued Invoices</a></li>
    <li routerLinkActive="true"><a class="list-group-item" style="cursor : pointer"  routerLink="/facet">Facet</a></li>
  </ul>
</div>
